.rankForest,
.rankCoral,
.rankEmrald,
.rankLightgreen,
.rankMintgreen,
.rankGreen,
.rankPink,
.rankRed {
  color: black;
}

.rankForest {
  background-color: #5edfbe;
}
.rankCoral {
  background-color: #f67a87;
}
.rankEmrald {
  background-color: #97ebd4;
}
.rankLightgreen {
  background-color: #dcedc8;
}
.rankMintgreen {
  background-color: #b2dfdb;
}
.rankGreen {
  background-color: #e1faf7;
}
.rankPink {
  background-color: #ffe5eb;
}
.rankRed {
  background-color: #d1293c;
}

.contributorsGrid :global(.ag-header-group-cell) {
  background-color: black;
  font-weight: 400;
  color: white;
}

:global(.ag-header-group-cell:hover) {
  background-color: black;
}

.contributorsGrid :global(.ag-header-group-cell-with-group) {
  border-right: 1px solid #aacef9;
  text-overflow: inherit;
  font-size: 12px;
}

:global(.ag-header-group-cell-with-group:hover) {
  background-color: black !important;
  cursor: default;
}

.contributorsGrid :global(.ag-header-cell) {
  background-color: #e3f2f9;
  font-weight: 400;
}

:global(.ag-header-cell:hover) {
  background-color: #e3f2f9 !important;
}

.leftAlignCell {
  text-align: left !important;
}

.contributorsGrid :global(.ag-theme-alpine .ag-header-expand-icon use),
.contributorsGrid :global(.ag-header-group-cell .ag-icon) {
  fill: #1e88e5;
  color: #1e88e5;
  font-weight: bold;
  font-size: 14px;
}

.contributorsGrid :global(.ag-theme-alpine .ag-row:nth-child(even)) {
  background-color: #f2f2f2;
}

.contributorsGrid :global(.ag-theme-alpine .ag-row:nth-child(odd)) {
  background-color: white;
}

.contributorsGrid :global(.ag-header-cell.group-boundary),
.contributorsGrid :global(.ag-cell.group-boundary),
.contributorsGrid :global(.ag-theme-alpine .ag-cell:last-child),
.contributorsGrid :global(.last-visible-header),
.contributorsGrid :global(.last-visible-cell),
.contributorsGrid :global(.ag-header-group-cell-with-group) {
  border-right: 1px solid #aacef9;
}

.contributorsGrid :global(.ag-root-wrapper),
.contributorsGrid :global(.ag-root-wrapper-body),
.contributorsGrid :global(.ag-body-viewport),
.contributorsGrid :global(.ag-body-horizontal-scroll),
.contributorsGrid :global(.ag-header) {
  border: none;
  box-shadow: none;
}

.contributorsGrid :global(.ag-row) {
  border: none;
}

.contributorsGrid :global(.ag-header-cell-label),
.contributorsGrid :global(.ag-header-group-cell-label),
.contributorsGrid :global(.ag-cell) {
  justify-content: center;
  text-align: center;
}

.contributorsGrid :global(.ag-theme-alpine .ag-cell),
.contributorsGrid :global(.ag-theme-alpine .ag-header-cell) {
  font-size: 12px;
  text-overflow: inherit;
}

.contributorsGrid :global(.ag-header-cell-text) {
  overflow: visible;
}

.contributorsGrid :global([class^='ag-']:before) {
  font-size: 20px;
}

.leftAlignHeading :global(.ag-header-cell-label),
.leftAlignHeaderExpanding :global(.ag-header-cell-label) {
  justify-content: flex-start;
  padding: 0px;
}
